
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito&family=Lobster&family=Courgette&family=Lobster+Two&family=Great+Vibes&family=Dancing+Script&family=Great+Vibes&family=Oleo+Script&family=Marck+Script&family=Parisienne&family=Poppins&family=Noto+Sans+SC&family=Tangerine&display=swap');


*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

                /* MenuBar */


  .menu-bar
  {
    background: rgb(0,100,0);
    text-align: center;
  }

  .menu-bar ul
  {
    display: inline-flex;
    list-style: none;
    color: #fff;
  }

  .menu-bar ul li
  {
    width: 160px;
    margin: 10px;
    padding: 10px;
  }

  .menu-bar ul li a
  {
    text-decoration: none;
    color: #fff;
  }

  .active, .menu-bar ul li:hover
  {
    background: #2bab0d;
    border-radius: 3px;
  }

  .menu-bar .fa
  {
    margin-left: 8px;
  }

  .menu-bar .fas
  {
    margin-left: 8px;
  }

  .sub-menu-1
  {
    display: none;
  }

  .menu-bar ul li:hover .sub-menu-1
  {
    display: block;
    position: absolute;
    background: rgb(0, 100, 0);
    margin-top: 10px;
    margin-left: -10px;
  }

  .menu-bar ul li:hover .sub-menu-1 ul
  {
    display: block;
    margin: 10px;
  }

  /* Adjusts the width of pull down li's */
  .menu-bar ul li:hover .sub-menu-1 ul li
  {
    width: 200px;
    padding: 10px;/*Adjusts the width of the pull down munu*/
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;/*No border*/
    text-align: left; /*Aligns the li text left*/
  }

  .menu-bar ul li:hover .sub-menu-1 ul li:last-child
  {
    border-bottom: none;
  }

  .menu-bar ul li:hover .sub-menu-1 ul li a:hover
  {
    color: #b2ff00;
  }

  .fa-angle-left
  {
    float: left;
  }

  .sub-menu-2
  {
    display: none;
  }

  .hover-me:hover .sub-menu-2
  {
    position: absolute;
    display: block;
    margin-top: -38px;
    margin-left: -250px;
    background-color: rgba(0,100,0);
  }

  .hover-me:hover .sub-menu-3
  {
    position: absolute;
    display: block;
    margin-top: -38px;
    margin-left: 160px;
    background-color: rgba(0,100,0);
  }

                /* Close Menu Bar */

/* ======================================================================= */

                        /* ALL Hero */

  /* New ALL section.hero */
 section.hero
 {
   position: relative;
 }

 /* ALL showWelcome */
 @keyframes showWelcome
 {
   0%
   {
   top: -20px;
   transform: skew(0deg, -5deg) scaleY(0);
   }

   80%
   {
   top: 30px;
   transform: skew(10deg, -5deg) scaleY(1.2);
   }

   100%
   {
   top: 20px;
   transform: skew(-10deg, -5deg) scaleY(1);
   }
 }


 /* New ALL HERO h2.hero__h2 */
 h2.hero__h2
 {
   /* background-color: green; */
   color: black;
   padding: 0.25em 0.5em;
   text-shadow: 2px 2px 5px var(--BORDER-COLOR);
   position: absolute;
   top: -200px;
   left: 20px;
   animation: showWelcome 2s ease-in-out 1s forwards;
 }

 /* New ALL .hero__h2::first-letter */
 .hero__h2::first-letter
 {
 font-size: 50px;
 color: blue;
 text-shadow: 2px 2px orange;
 }

                        /* Close ALL Hero */

/* ======================================================================= */

                              /*ALL H1*/

/* ALL img.imgclassme3 (Main image) */
img.imgclassme3
{
width: 250px;
/* height: 250px; */
margin: 25px;/*Margin from Prince to text*/
border: 3px solid white;
box-shadow: 3px 3px grey;
border-radius: 50%;
shape-outside: circle();/*Shapes the text into circle*/
float:left;/*Floats the text to the left*/
padding: 15px;/*Pushes the border out */
}

/* ======================================================================= */
                    /* New All H1*/
 h1
 {
   background: linear-gradient(to right, grey, black);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
   text-align: center;
   /* font-family: Nunito; */
   /* font-family: Lobster; */
   /* font-family: Dancing Script; */
   /* font-family: Courgette; */
   /* font-family: Great Vibes; */
   /* font-family: Oleo Script; */
   /* font-family: Marck Script; */
   /* font-family: Tangerine; */
   /* font-family: Parisienne; */
   font-family: Poppins;
 }

                          /*Close ALL h1*/

/* ======================================================================= */

                              /*New ALL span */

span
{
  font-size: 2.0rem;
  color: blue;
  /* text-shadow: 3px 3px red; */
  /* font-family: Noto Sans SC;  */
}

                                /*Close New ALL span */

/* ======================================================================= */


                            /*New Interests Checked */


/* body.interestsbody */
body.interestsbody
{
background-image: linear-gradient( to right,lightseagreen, lightgreen);
padding-bottom: 10px;/*For "Top" btn*/

}

/* p.interestsclass */
p.interestsclass
{
font-size: 1.5rem;
margin-top: 20px;
margin-left: 5px;
/* text-indent: 50px; */
text-align: left;
}

/* p.interestsclass::first-letter */
p.interestsclass::first-letter
{
font-size: 2.5rem;
text-shadow: 3px 3px red;
}

/*  img.circuitimage" (Tooltip) */
img.circuitimage /*The actual circuitimage.jpg image*/
{
position: relative;
overflow: hidden;
width: 400px;/*Width of img*/
height: 200px;/*Height of img*/
border: 2px solid gold;
float:left;/*Floats the text to the left*/
margin: 10px;/*Margin from img to text*/

}


/*  img.imghobbyclass (Hobby image) */
img.imghobbyclass
{
width: 100px;
height: 100px;
margin: 25px;/*Margin from Prince to text*/
border: 3px solid gold;
box-shadow: 3px 3px grey;
border-radius: 50%;
shape-outside: circle();/*Shapes the text into circle*/
float:left;/*Floats the text to the left*/
padding: 15px;/*Pushes the border out */
}

.container
{
max-width: 1200px;
margin: auto;
background-color: #f2f2f2;
overflow: auto;

}

.gallery
{
margin: 5px;
border: 3px solid red;
box-shadow: 3px 3px black;
float: left;
width:390px;

}

.gallery img
{
width: 100%;
height: auto;
}

.desc
{
padding: 15px;
text-align: center;
}

/* NEW Interest .hover_over_the_link.nolink */
.hover_over_the_link.nolink
{
  position: relative;
}

a.nolink, nixieclass
{
  color: blue;
}

/* NEW Interest .hover_over_the_link a.nolink span */
.hover_over_the_link a.nolink span
{
  position:absolute;
  display:none;
  z-index:99;
}

/* INDEX Interest .hover_over_the_link a:hover span ( Tooltip)  */
.hover_over_the_link a:hover span
{
  display:block;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width:450px;/*Width of the tooltip*/
  padding: 20px 60px 20px 8px;
  color: gold;/*Text colour*/
  background: #535663;
  font-size: 20px;
  text-decoration: none;
  position: absolute;
  border-radius: 15px;/*Block radius*/
  border: 5px solid rgb(0, 0, 0);
  /* top: 65px; */
  text-indent: 5px;
}

                              /*Close New Interests */

/* ======================================================================= */

                          /* New Footer Checked */


p.allfooter
{
position: fixed;
padding: 1px 10px 50px 10px;
bottom: 0;
width: 100%;
/* Height of the footer*/
height: 10px;
text-align: center;
background: black;
color: cadetblue;

}

/* ALL p::first-letter */
p.allfooter::first-letter
{
font-size: 2.5rem;
text-shadow: 3px 3px red;
}

                                /* Close New Footer */

/* ======================================================================= */

                        /* UTILITY CLASSES */

.offscreen
{
position: absolute;
left: -10000px;
}

.nowrap
{
white-space: nowrap;
}

p.center
{
  font-size: 1.7em;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 60px;

}

                          /* Close UTILITY CLASSES */

/* ======================================================================= */
