@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito&family=Lobster&family=Courgette&family=Lobster+Two&family=Great+Vibes&family=Dancing+Script&family=Great+Vibes&family=Oleo+Script&family=Marck+Script&family=Parisienne&family=Poppins&family=Noto+Sans+SC&family=Tangerine&display=swap');


*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
                      /* Menu Bar */

  .menu-bar
  {
    background: rgb(0,100,0);
    text-align: center;
  }

  .menu-bar ul
  {
    display: inline-flex;
    list-style: none;
    color: #fff;
  }

  .menu-bar ul li
  {
    width: 175px;
    margin: 10px;
    padding: 10px;
  }

  .menu-bar ul li a
  {
    text-decoration: none;
    color: #fff;
  }

  .active, .menu-bar ul li:hover
  {
    background: #2bab0d;
    border-radius: 3px;
  }

  .menu-bar .fa
  {
    margin-left: 8px;
  }

  .menu-bar .fas
  {
    margin-left: 8px;
  }

  .sub-menu-1
  {
    display: none;
  }

  .menu-bar ul li:hover .sub-menu-1
  {
    display: block;
    position: absolute;
    background: rgb(0, 100, 0);
    margin-top: 10px;
    margin-left: -10px;
    z-index: 100;
  }

  .menu-bar ul li:hover .sub-menu-1 ul
  {
    display: block;
    margin: 10px;

  }

  .menu-bar ul li:hover .sub-menu-1 ul li
  {
    width: 200px;
    padding: 10px; /*Adjusts the width of the pull down menu*/
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;/*No border*/
    text-align: left; /*Aligns the li text left*/
  }

  .menu-bar ul li:hover .sub-menu-1 ul li:last-child
  {
    border-bottom: none;
  }

  .menu-bar ul li:hover .sub-menu-1 ul li a:hover
  {
    color: #b2ff00;
  }

  .fa-angle-left
  {
    float: left;
  }

  .sub-menu-2
  {
    display: none;
  }

  .hover-me:hover .sub-menu-2
  {
    position: absolute;
    display: block;
    margin-top: -38px;
    margin-left: -250px;
    background-color: rgba(0,100,0);
  }

  .hover-me:hover .sub-menu-3
  {
    position: absolute;
    display: block;
    margin-top: -38px;
    margin-left: 160px;
    background-color: rgba(0,100,0);
  }

                  /* Close Menu Bar */

/* ======================================================================= */

                        /* H1 */






                    /*Close H1*/

/* ======================================================================= */

                      /* body*/
.palacebarbody 
{
  /* margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  
   */
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100vh;
  
}

.main-container 
{
  position: fixed;
  max-width: 550px;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-container img {
  max-width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
}

.main-container h1 {
  color: white;
  font-weight: 500;
  text-align: center; 
}

.main-container p 
{
  color: white;
  margin: 15px 0; 
}



.btn {
  background-color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 230px;
  
}

.btn:hover {
  background-color: orange;
}

.trailer-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.7s;
}

.active.trailer-container {
  visibility: hidden;
  opacity: 0;
}

.trailer-container video {
  position: relative;
  max-width: 900px;
  outline: none;
}

@media (max-width: 991px) {
  .trailer-container video {
    max-width: 90%;
  }
}

.close-icon {
  position: absolute;
  top: 30px;
  right: 30px;
  color: white;
  cursor: pointer;
}