@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito&family=Lobster&family=Courgette&family=Lobster+Two&family=Great+Vibes&family=Dancing+Script&family=Great+Vibes&family=Oleo+Script&family=Marck+Script&family=Parisienne&family=Poppins&family=Noto+Sans+SC&family=Tangerine&display=swap');

*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

                            /* Menu Bar */

.menu-bar
{
background: rgb(0,100,0);
text-align: center;
}

.menu-bar ul
{

display: inline-flex;
list-style: none;
color: #fff;
}

.menu-bar ul li
{
width: 175px;
margin: 10px;
padding: 10px;
}

.menu-bar ul li a
{
text-decoration: none;
color: #fff;
}

.active, .menu-bar ul li:hover
{
background: #2bab0d;
border-radius: 3px;
}

.menu-bar .fa
{
margin-left: -8px;
}

.menu-bar .fas
{
margin-left: -8px;
}

.sub-menu-1
{
display: none;
}

.menu-bar ul li:hover .sub-menu-1
{
display: block;
position: absolute;
background: rgb(0, 100, 0);
margin-top: 10px;
margin-left: -10px;

}

.menu-bar ul li:hover .sub-menu-1 ul
{
display: block;
margin: 10px;

}

.menu-bar ul li:hover .sub-menu-1 ul li
{
width: 200px;
padding: 10px; /*Adjusts the width of the pull down munu*/
border-bottom: 1px dotted #fff;
background: transparent;
border-radius: 0;/*No border*/
text-align: left; /*Aligns the li text left*/
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
color: #b2ff00;
}

.fa-angle-left
{
float: left;
}

.sub-menu-2
{
display: none;
}

.hover-me:hover .sub-menu-2
{
position: absolute;
display: block;
margin-top: -38px;
margin-left: -250px;
background-color: rgba(0,100,0);
}

.hover-me:hover .sub-menu-3
{
position: absolute;
display: block;
margin-top: -38px;
margin-left: 160px;
background-color: rgba(0,100,0);
}

                        /* Close Menu Bar */

/* ======================================================================= */

              /* BODY*/


/* PPL .pplclass  */
.pplclass
{
  background-image: url(images/ppl.jpg);
  background-size: 100%;
  background-position: absolute;
  background-repeat: no-repeat;
  /* font-family: sans-serif; */
  
}

                        /* Close BODY*/
/* ======================================================================= */

  
              /* Hero */

  /* section.hero */
  section.hero
  {
    position: relative;
  }
 
  /* showWelcome */
  @keyframes showWelcome
  {
    0%
    {
    top: -20px;
    transform: skew(0deg, -5deg) scaleY(0);
    }
 
    80%
    {
    top: 30px;
    transform: skew(10deg, -5deg) scaleY(1.2);
    }
 
    100%
    {
    top: 20px;
    transform: skew(-10deg, -5deg) scaleY(1);
    }
  }
 
 
 /* HERO h2.hero__h2 */
  h2.hero__h2
  {
    /* background-color: green; */
    color: black;
    padding: 0.25em 0.5em;
    text-shadow: 2px 2px 5px var(--BORDER-COLOR);
    position: absolute;
    top: -200px;
    left: 20px;
    animation: showWelcome 2s ease-in-out 1s forwards;
  }
 
  /* .hero__h2::first-letter */
  .hero__h2::first-letter
  {
  font-size: 50px;
  color: blue;
  text-shadow: 2px 2px orange;
  }
 
            /* Close  Hero */
 
 /* 
======================================================================= */


        /*Main Image (me)*/

/* img.imgclassme3 (Main image) */
img.imgclassme3
{
width: 250px;
/* height: 250px; */
margin: 25px;/*Margin from Prince to text*/
border: 3px solid white;
box-shadow: 3px 3px grey;
border-radius: 50%;
shape-outside: circle();/*Shapes the text into circle*/
float:left;/*Floats the text to the left*/
padding: 15px;/*Pushes the border out */
}

        /* Close Main Image (me) */

/* ======================================================================= */


              /* H1*/

h1
{

  background: linear-gradient(to right, grey, black);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-align: center;
  font-family: 'Poppins';

  /* margin-bottom: 0; */
  /* position: absolute; */
  /* margin-top: -10px; */
  /* left: 43%; */
  /* z-index: 1; */
}
                        /* Close H1*/

/* ======================================================================= */

                /* H2 Licence */

.licence
{
  background: linear-gradient(to right, grey, black);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
   text-align: center;
   font-family: Poppins;
}


 /* p*/


 /* .p */
 .p
 {
   font-size: 1.5rem;
   margin-left: 5px;
   text-align: left;
   color:crimson;
 }
 
 /* .p::first-letter */
 .p::first-letter
 {
   font-size: 2.5rem;
   text-shadow: 3px 3px orange;
 }
 
 
                   /* Close p */
 
 /* ======================================================================= */


 /* span */

span
{
  font-size: 2.0rem;
  color: blue;
  
}

                /*Close span */

/* ======================================================================= */

/* Index Footer */

/* p.allfooter */
p.allfooter
{
  position: fixed;
  padding: 1px 10px 50px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 10px;
  text-align: center;
  background: black;
  color: cadetblue;

}

/* p.allfooter::first-letter */
p.allfooter::first-letter
{
  font-size: 2.5rem;
  text-shadow: 3px 3px red;
}

                    /* Close Index Footer */

/* ======================================================================= */

   /* Hover Over Link */

/* .hover_over_the_link a */
.hover_over_the_link.nolink
{
  position: relative;
}

/*.hover_over_the_link a span */
.hover_over_the_link a.nolink span
{
  position:absolute;
  display:none;
  z-index:99;
}

/* .hover_over_the_link a:hover span ( Tooltip)  */
.hover_over_the_link a:hover  span 
{
  display:block;

  /* top: 50%; /*Sets the tooltip frame from the top. Makes img dissapear*/ 
   /* left: 50%;  */
  /* margin-top: -50px; */
  /* margin-left: -50px; */

  width:550px;/*Width of the tooltip*/
  padding: 20px 60px 20px 8px;
  color: gold;/*Text colour*/
  background: #535663;
  font-size: 20px;
  text-decoration: none;
  position: absolute;
  border-radius: 15px;/*Border radius*/
  border: 5px solid rgb(0, 0, 0);
  /* top: 65px; */
  text-indent: 5px;
}

         /* Close Hover Over Link */

/* ======================================================================= */